iframe {
    width: 100% !important;
    display: block !important;
}

canvas {
    width: auto !important;
    height: auto !important;
    border: 5px solid red;
}

#canvas3d {
    width: 100% !important;
    height: auto !important;
}